[target.x86_64-unknown-linux-gnu]
pre-build = [
    "set -e",
    "apt-get update",
    "apt-get install -y --no-install-recommends build-essential protobuf-compiler pkg-config libssl-dev nodejs npm",
    "rm -rf /var/lib/apt/lists/*"
]

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "set -e",
    "dpkg --add-architecture arm64",
    "apt-get update",
    "apt-get install -y make:arm64 gcc:arm64 g++:arm64",
    "apt-get install -y --no-install-recommends build-essential:arm64 protobuf-compiler:arm64 pkg-config:arm64 libssl-dev:arm64 nodejs:arm64 npm",
    "rm -rf /var/lib/apt/lists/*",
    "export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc",
    "export CC_aarch64_unknown_linux_gnu=aarch64-linux-gnu-gcc",
    "export CXX_aarch64_unknown_linux_gnu=aarch64-linux-gnu-g++"
]

[target.x86_64-unknown-freebsd]
pre-build = [
    "pkg update",
    "pkg install -y node20 www/npm protobuf ca_root_nss bash gmake pkgconf openssl",
    "export SSL_CERT_FILE=/etc/ssl/cert.pem"
]
