[package]
name = "cursor-api-build"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
chrono = { version = "0.4.43", default-features = false, features = ["alloc"] }
